/* Typography */

html {
    // font-family: $font--primary;

    @media (min-width: 576px) {
        font-size: 14px;
    }

    @media (min-width: 768px) {
        font-size: 16px;
    }

    @media (min-width: 992px) {
        font-size: 18px;
    }

    @media (min-width: 1200px) {
        font-size: 20px;
    }
}

/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;

    >.intro {
        // font-family: $font--secondary;
        font-size: 3.75em;
        font-weight: 600;
    }

    >.content {
        margin: 1.5rem 0;

        >.tagline {
            font-size: 1.5rem;
            margin: 1rem 0;
            font-weight: 100;
        }
    }
}

.platforms {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 1rem 0;

    >.platform-link {
        margin: 0 1rem;
        text-decoration: none;

        >.icon-with-name {
            font-size: 1.5rem;
            margin-right: 0.3rem;
        }

        >.icon-without-name {
            font-size: 2rem;
        }
    }
}