---
layout: default
---

<main>
    <div class="intro">
        {% if site.title_intro %} {{ site.title_intro }} {% else %} Hello, I'm
        {{ site.author }}! {% endif %}
    </div>

    <!-- Skills from index.html file -->
    <div class="content">{{ content }}</div>

    <!-- Platforms -->
    <p>{{ site.title_platforms }}</p>
    <div class="platforms">
        <!-- List -->
        {% for platform in site.data.platforms %}
        <a
            class="platform-link"
            target="_blank"
            href="{{ platform.link }}"
            title="{{ platform.name }}"
        >
            {% if platform.display_name == true %}
            <i class="{{ platform.icon }} icon-with-name"></i> {{ platform.name
            }} {%else%}<i class="{{ platform.icon }} icon-without-name"></i>{%
            endif %}
        </a>
        {% endfor %}
    </div>
</main>
